In [28]:
import pandas as pd
from sklearn.cluster import KMeans

# CSV 파일 읽기
data = pd.read_csv('hand_dist_0.csv')
data.head()

,23.7724,7.32279,10.924,12.431,12.0078,10.4261,7.71811,5.5277,3.86464,3.91867
0,21.1078,10.92400,12.43100,12.00780,10.42610,7.71811,5.52770,3.86464,3.91867,5.42701
1,17.4573,12.43100,12.00780,10.42610,7.71811,5.52770,3.86464,3.91867,5.42701,9.40791
2,14.5019,12.00780,10.42610,7.71811,5.52770,3.86464,3.91867,5.42701,9.40791,9.94700
3,13.8170,10.42610,7.71811,5.52770,3.86464,3.91867,5.42701,9.40791,9.94700,10.65710
4,15.7575,7.71811,5.52770,3.86464,3.91867,5.42701,9.40791,9.94700,10.65710,11.27500

In [24]:
data = data.drop(columns=['Unnamed: 12'])
data.head()

,2.29886,5.71458,-1.62084,1.57679,0.724417,0.689698,1.15328,-0.301028,0.364038,-0.893465,-0.620895,-1.07199
0,2.74872,3.885540,0.702835,1.807090,1.061510,0.349995,0.401436,-0.521320,-0.422300,-0.783884,-1.74348,-0.851877
1,4.37207,1.742790,1.182050,1.935300,0.767063,-0.007286,0.249180,-0.592669,-0.581448,-0.744260,-1.61685,-0.591085
2,6.09063,0.572192,1.170400,1.131500,0.798648,-0.651476,0.202395,-1.113190,-0.540851,-0.646649,-1.63059,1.279820
3,8.00554,1.193550,1.223740,-0.635984,0.770104,-0.857333,0.204641,-0.633670,-0.624438,0.289889,-1.57404,1.837100
4,9.41990,2.056580,1.284660,-1.007340,0.804098,-0.877533,0.099503,-0.341542,-0.707523,0.556385,-1.48074,1.670030

In [29]:

# K-means 클러스터링 모델 학습
kmeans = KMeans(n_clusters=3)
kmeans.fit(data)

# 클러스터링 결과 확인
clusters = kmeans.labels_
data['cluster'] = clusters

# 결과 출력
print(data)

      23.7724   7.32279    10.924    12.431   12.0078  10.4261   7.71811  \
0    21.10780  10.92400  12.43100  12.00780  10.42610  7.71811  5.527700
1    17.45730  12.43100  12.00780  10.42610   7.71811  5.52770  3.864640
2    14.50190  12.00780  10.42610   7.71811   5.52770  3.86464  3.918670
3    13.81700  10.42610   7.71811   5.52770   3.86464  3.91867  5.427010
4    15.75750   7.71811   5.52770   3.86464   3.91867  5.42701  9.407910
..        ...       ...       ...       ...       ...      ...       ...
435   2.29605   3.38965   5.78582   5.79876   3.65469  2.13150  2.405640
436   2.23280   5.78582   5.79876   3.65469   2.13150  2.40564  2.554550
437   2.26332   5.79876   3.65469   2.13150   2.40564  2.55455  3.626070
438   2.10109   3.65469   2.13150   2.40564   2.55455  3.62607  3.604770
439   2.13976   2.13150   2.40564   2.55455   3.62607  3.60477  0.600488

       5.5277    3.86464    3.91867  cluster
0    3.864640   3.918670   5.427010        0
1    3.918670   5.427010   9.407910        0
2    5.427010   9.407910   9.947000        0
3    9.407910   9.947000  10.657100        0
4    9.947000  10.657100  11.275000        0
..        ...        ...        ...      ...
435  2.554550   3.626070   3.604770        2
436  3.626070   3.604770   0.600488        2
437  3.604770   0.600488   1.409280        2
438  0.600488   1.409280   5.443920        2
439  1.409280   5.443920   5.970500        2

[440 rows x 11 columns]

In [30]:
data.head()

,23.7724,7.32279,10.924,12.431,12.0078,10.4261,7.71811,5.5277,3.86464,3.91867,cluster
0,21.1078,10.92400,12.43100,12.00780,10.42610,7.71811,5.52770,3.86464,3.91867,5.42701,0
1,17.4573,12.43100,12.00780,10.42610,7.71811,5.52770,3.86464,3.91867,5.42701,9.40791,0
2,14.5019,12.00780,10.42610,7.71811,5.52770,3.86464,3.91867,5.42701,9.40791,9.94700,0
3,13.8170,10.42610,7.71811,5.52770,3.86464,3.91867,5.42701,9.40791,9.94700,10.65710,0
4,15.7575,7.71811,5.52770,3.86464,3.91867,5.42701,9.40791,9.94700,10.65710,11.27500,0

In [31]:
data.to_csv("hand_dist_0_res.csv", index=False)

## rf classification

In [44]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# csv 파일 읽기
data = pd.read_csv("labled_hand_dist_0.csv", header=None)

# 데이터와 라벨 분리
X = data.iloc[:, 0:10]  # 1~10열
y = data.iloc[:, 10]     # 라벨

# train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 랜덤 포레스트 모델 학습
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# 테스트 데이터로 모델 평가
y_pred = rf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [46]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9
17,15.08780,7.895870,7.464100,5.55129,4.635950,3.718600,5.00257,12.258400,14.702200,12.629600
66,13.11080,8.628720,8.096790,5.85274,1.203140,2.829150,5.82021,8.894430,12.002600,11.666100
132,22.01840,7.055200,5.257720,6.26005,7.338020,9.593520,11.48780,11.288100,10.615900,9.183230
222,0.39661,0.201564,0.079762,0.06904,0.164339,0.288627,0.23643,0.069194,0.240962,0.098357
31,21.32160,6.224020,8.288340,10.65690,12.468500,12.465100,7.58955,4.016470,4.680360,6.181650

In [48]:
y_train.head()

17     0
66     0
132    0
222    1
31     0
Name: 10, dtype: int64

In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# csv 파일 읽기
data = pd.read_csv("240119_labled_hand_dist_0.csv", header=None)

# 데이터와 라벨 분리
X = data.iloc[:, 0:13] 
y = data.iloc[:, 13]

# train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 랜덤 포레스트 모델 학습
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# 테스트 데이터로 모델 평가
y_pred = rf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8888888888888888

In [3]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# csv 파일 읽기
data = pd.read_csv("240119_02_pts_labled_hand_dist_0.csv", header=None)

# 데이터와 라벨 분리
X = data.iloc[:, 0:25] 
y = data.iloc[:, 25]

# train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 랜덤 포레스트 모델 학습
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# 테스트 데이터로 모델 평가
y_pred = rf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9830508474576272